apiVersion: apps/v1
kind: Deployment
metadata:
  name: marketplace-frontend
  labels:
    app: marketplace-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: marketplace-frontend
  template:
    metadata:
      labels:
        app: marketplace-frontend
    spec:
      containers:
        - name: marketplace-frontend
          image: frontend-marketplace-app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5173
---
apiVersion: v1
kind: Service
metadata:
  name: marketplace-frontend
  labels:
    app: marketplace-frontend
spec:
  type: LoadBalancer
  selector:
    app: marketplace-frontend
  ports:
    - name: http
      port: 3000        # external
      targetPort: 5173  # container port
      protocol: TCP
